<!DOCTYPE html>
<html>
<head>
    <title>绑定样式</title>
    <script type="text/javascript" src="./js/vue.js"></script>
    <style type="text/css">
        .actived {
            color: red;
        }
        .init {
            border: 1px solid #555;
        }
    </style>
</head>
<body>
    <h2 id="app1" @click="changeClass" :class="[init, actived]">hello, world</h2>
    <h2 id="app2" @click="changeClass" v-bind:class="{actived: isActived, init: isActived}">hello, world</h2>
    <h2 id="app3" @click="changeClass" :style="[styleObj1, styleObj2]">hello, world</h2>
    <div id="appIf">
        <span v-for="item in list">{{item}}-----</span>
        <h4 v-if="show=='a'">this is A</h4>
        <h4 v-else-if="show=='b'">this is B</h4>
        <h4 v-else>this is another one</h4>
    </div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#appIf',
        data: {
            list:[1, 2, 3, 4],
            show: 'a'
        }
    });
    new Vue({
        el: '#app1',
        data: {
            actived: '',
            init: 'init'
        },
        methods: {
            changeClass: function () {
                this.actived = (this.actived == 'actived' ? '' : 'actived');
            }
        }
    });
    new Vue({
        el: '#app2',
        data: {
            isActived: false
        },
        methods: {
            changeClass: function () {
                this.isActived = !this.isActived;
            }
        }
    });
    new Vue({
        el: '#app3',
        data: {
            styleObj1: {
                color: ''
            },
            styleObj2: {
                'font-size': '12px'
            }
        },
        methods: {
            changeClass: function () {
                let color = this.styleObj1.color;
                let size = this.styleObj2['font-size'];
                this.styleObj1.color = (color == 'red' ? '' : 'red');
                this.styleObj2['font-size'] = (size == '12px' ? '20px' : '12px')
            }
        }
    });
</script>
</html>