<!DOCTYPE html>
<html>
<head>
    <title>todo-demo</title>
    <script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
    <div id="todo">
        <div class="text">
            <input type="text" name="" v-model="todoItem">
            <button @click="addItem">添加</button>
        </div>
        <div class="list-todo">
            <h4>TODO List</h4>
            <!-- <div class="list-item" v-for="(item, index) in todoList">
                <input type="checkbox" name="" @click="doneItem(index)">
                <span>{{item}}</span>
            </div> -->
            <ul>
               <todo-item @delete="deleteItem"  v-bind:content="item" v-bind:index="index" v-for="(item, index) in todoList"></todo-item>
            </ul>
        </div>
        <div class="list-done">
            <h4>Done List</h4>
            <div class="list-item" v-for="item in doneList">
                <input type="checkbox" name="" checked>
                <span>{{item}}</span>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let todoItem = {
            props: ['content', 'index'],
            template: `<li @click="clickItem"> {{content}}</li>`,
            methods: {
                clickItem: function () {
                    console.log(this.index);
                    this.$emit('delete', this.index);
                }
            }
        };
        // Vue.component('todo-item', todoItem);
        new Vue({
            el: '#todo',
            data: {
                todoList: [
                    "第1课作业",
                    "第2课作业",
                    "第3课作业",
                    "第4课作业",
                    "第5课作业",
                    "第6课作业"
                ],
                doneList: [],
                todoItem: ''
            },
            methods: {
                addItem: function () {
                    if(this.todoItem) {
                        this.todoList.push(this.todoItem);
                        this.todoItem = '';
                    } else {
                        alert('请填下任务内容');
                    }
                },
                doneItem: function (index) {
                    var item = this.todoList[index];
                    // this.todoList.splice(index, 1);
                    this.doneList.push(item);
                },
                deleteItem: function (index) {
                    var item = this.todoList[index];
                    // this.todoList.splice(index, 1);
                    this.doneList.push(item);
                    this.todoList.splice(index, 1);
                }
            },
            components: {
                'todo-item': todoItem
            }
        })
    </script>
</body>
</html>